.container {
  height: 100vh;
}
.content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.header {
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 5%;
  background-color: green;
  color: white;
}

.sidebar {
  display: flex;
  height: 100%;
  flex: 3;
  background-color: red;
  justify-content: space-between;
  align-items: center;
}

.active-tab {
  height: 100%;
  width: 100%;
  flex: 12;
}

nav,
.nav-element {
  width: 100%;
}
.nav-element {
  text-align: center;
}
