<!--<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active">main</a></li>
    <li><a routerLink="/login" routerLinkActive="active">login</a></li>
    <li><a routerLink="/signup" routerLinkActive="active">signup</a></li>
    <li>
      <a routerLink="/doctor-dashboard" routerLinkActive="active"
        >doctor-dashboard</a
      >
    </li>
    <li>
      <a routerLink="/patient-dashboard" routerLinkActive="active"
        >patient-dashboard</a
      >
    </li>
  </ul>
</nav>
-->


<router-outlet></router-outlet>
